<div style="background-color:#ccc09e; padding:10px">
  <p>Beginners will be given priority.</br>
  Applications will be reviewed as they arrive.</p>

  <%= simple_form_for(@question) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :newbie, label: "I am a total newbie :)" %>
      <%= f.input :html_css, label: "I am familiar with HTML / CSS"  %>
      <%= f.input :tutorials, label: "I have done online Ruby / Rails tutorials"  %>
      <%= f.input :study_group, label: "I attend a Study Group"  %>
      <%= f.input :program, label: "I have written a program (any language)"  %>
      <%= f.input :website, label: "I have created a website and launched it on the web"  %>
      <%= f.input :work, label: "I currently work in tech"  %>
      <%= f.input :bootcamp, label: "I have attended an immersive bootcamp program"  %>
      <%= f.input :compsci, label: "I have or am getting a CS degree"  %>
      <%= f.input :rlsgrl_rlsbrg, label: "I have attended Rails Girls / Railsbridge"  %>
      <%= f.input :continue, label: "Do you think you will continue learning to program after the workshop?"  %>
      <%= f.input :support, label: "Do you have any people to support you with this goal?"  %>
      <%= f.input :experience, label: "Previous Experience. Do you have any previous programming experience? Please explain. What languages? For how long? What did you make? In school or on your own? Do you currently program? Did you attend a code school? This helps us group students when working in small groups." %>
    </div>
    <div class="form-actions">
      <%= f.button :submit, "SUBMIT ♥", class: "rg-button" %>
    </div>
  <% end %>
</div>
