<div class="jumbotron">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Total newbie?:</strong>
    <%= @question.newbie %>
  </p>

  <p>
    <strong>Familiar with HTML / CSS?:</strong>
    <%= @question.html_css %>
  </p>

  <p>
    <strong>Online Ruby / Rails tutorials:</strong>
    <%= @question.tutorials %>
  </p>

  <p>
    <strong>Attend a Study Group?:</strong>
    <%= @question.study_group %>
  </p>

  <%= link_to 'Edit', edit_question_path(@question) %> |
  <%= link_to 'Back', questions_path %>
</div>