<div class="jumbotron">
  <p id="notice"><%= notice %></p>
  <h2>Name: <%= @user.first_name %> <%= @user.last_name %></h2>
  <h2>Id: <%= @question.user_id %> Rating:<%= @user.rating %></h2>

  <p>
    <strong>Attended Bootcamp:</strong>
    <% if @question.bootcamp %>
      <%= image_tag("red.gif") %>
    <% else %>
     false
    <% end %>

    <strong>Studying CS:</strong>
    <% if @question.compsci %>
      <%= image_tag("red.gif") %>
    <% else %>
     false
    <% end %>

    <strong>Attended RailsGirls or Railsbridge:</strong>
    <% if @question.rlsgrl_rlsbrg %>
      <%= image_tag("red.gif") %>
    <% else %>
     false
    <% end %>
  </p>

  <p>
    <strong>Newbie?:</strong>
    <%= @question.newbie %>
  </p>

  <p>
    <strong>HTML/CSS?:</strong>
    <%= @question.html_css %>
  </p>

  <p>
    <strong>Tutorials:</strong>
    <%= @question.tutorials %>
  </p>

  <p>
    <strong>Study Group?:</strong>
    <%= @question.study_group %>
  </p>

  <p>
    <strong>Written a program?:</strong>
    <%= @question.program %>
  </p>

  <p>
    <strong>Website?:</strong>
    <%= @question.website %>
  </p>
<hr/>
  <p>
    <strong>Work in the tech?:</strong>
    <%= @question.work %>
  </p>


<hr/>
  <p>
    <strong>Do you think you will continue learning to program after the workshop?:</strong>
    <%= @question.continue %>
  </p>

  <p>
    <strong>Do you have any people to support you with this goal?:</strong>
    <%= @question.support %>
  </p>

  <p>
    <strong>Previous Experience:</strong>
    <%= @question.support %>
  </p>

  <%= link_to 'Edit', edit_question_path(@question) %> |
  <%= link_to 'Back', questions_path %>
</div>