<div class="jumbotron">
  <p id="notice"><%= notice %></p>

<h2>Id: <%= @question.user_id %> Rating:<%= @question.newbie %></h2>
  <p>
    <strong>Total newbie?:</strong>
    <%= @question.newbie %>
  </p>

  <p>
    <strong>Familiar with HTML / CSS?:</strong>
    <%= @question.html_css %>
  </p>

  <p>
    <strong>Online Ruby / Rails tutorials:</strong>
    <%= @question.tutorials %>
  </p>

  <p>
    <strong>Attend a Study Group?:</strong>
    <%= @question.study_group %>
  </p>
------
  <p>
    <strong>Have you ever written a program?:</strong>
    <%= @question.program %>
  </p>

  <p>
    <strong>Created and launched a website?:</strong>
    <%= @question.website %>
  </p>

  <p>
    <strong>Do you work in the technical field?:</strong>
    <%= @question.work %>
  </p>

  <p>
    <strong>Have you attended a bootcamp?:</strong>
    <%= @question.bootcamp %>
  </p>

  <p>
    <strong>Are you studying CS?:</strong>
    <%= @question.compsci %>
  </p>

  <p>
    <strong>Have you previously attended a Rails Girls or Railsbridge?:</strong>
    <%= @question.rlsgrl_rlsbrg %>
  </p>

  <p>
    <strong>Do you think you will continue learning to program after the workshop?:</strong>
    <%= @question.continue %>
  </p>

  <p>
    <strong>Do you have any people to support you with this goal?:</strong>
    <%= @question.support %>
  </p>

  <p>
    <strong>Previous Experience:</strong>
    <%= @question.support %>
  </p>

  <%= link_to 'Edit', edit_question_path(@question) %> |
  <%= link_to 'Back', questions_path %>
</div>