<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <h3><%= f.submit %></h3>
  </div>

  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>

  <div class="field">
    <%= f.label :zip_code %>
    <%= f.text_field :zip_code %>
  </div>

  <div class="field">
    <%= f.label :twitter_handle %>
    <%= f.text_field :twitter_handle %>
  </div>

  <div class="field">
    <%= f.label :github_user_name %> https://github.com/
    <%= f.text_field :github_user_name %>
  </div>

  <div class="field">
    <%= f.label :over_21 %>
    <%= f.check_box :over_21 %>
  </div>

  <div class="field">
    <%= f.label :age %>
    <%= f.number_field :age %>
  </div>

  <div class="field">
    <%= f.label :operating_system %>
    <%= f.text_field :operating_system %>
  </div>

  <div class="field">
    <%= f.label :workshop %>
    <%= f.datetime_select :workshop %>
  </div>

  <div class="field">
    <%= f.label :rating %>
    <%= f.text_field :rating %>
  </div>

  <div class="field">
    <%= f.label :coach %>
    <%= f.text_field :coach %>
  </div>

  <div class="field">
    <%= f.label :pair %>
    <%= f.text_field :pair %>
  </div>

  <div class="field">
    <%= f.label :accepted %>
    <%= f.check_box :accepted %>
  </div>

  <div class="field">
    <%= f.label :attended %>
    <%= f.check_box :attended %>
  </div>

  <div class="field">
    <%= f.label :phase_five_coach %>
    <%= f.check_box :phase_five_coach %>
  </div>

<% end %>
