<div class="jumbotron">
  <h2 style="font-size:250%">Edit User - <%= @user.first_name %> 
    <%= @user.last_name %></h2>

  <h3><%= link_to 'Show', @user %> |
  <%= link_to 'Back', users_path %></h3>

  <hr style="background-color: #fff; border-top: 1px dashed #8c8b8b;"/>

  <%= render 'form', user: @user %>


</div>