<p id="notice"><%= notice %></p>
<h2 style="background-color:#ccc09e; padding:10px">Pending Rails Girls October&nbsp;21<sup>st</sup>&nbsp;&&nbsp;22<sup>nd</sup>&nbsp;2016</h2>

<table style="background-color:#8a9e98">
      <th>UserId</th>
      <th>TryRuby</th>
      <th>TryRuby</th>
      <th>TryGit</th>
      <th>TryGit</th>
      <th>Terminal</th>
      <th>Terminal</th>
      <th>HTML/CSS</th>
      <th>HTML/CSS</th>
    </tr>
  </thead>

  <tbody>
      <% @tutorials.each do |tutorial| %>
      <tr>
        <td><%= tutorial.user_id %></td>

        <td>
          <% if tutorial.try_ruby %>
            <%= image_tag "tryruby-success.png", width: '30' %>
          <% end %>
        </td>
        <td><%= tutorial.tryruby_image_updated_at.try(:strftime,'%m.%d %H:%M') %></td>

        <td>
          <% if tutorial.try_git %>
            <%= image_tag "trygit-success.jpg", width: '30' %>
          <% end %>
        </td>
        <td><%= tutorial.trygit_image_updated_at.try(:strftime,'%m.%d %H:%M') %></td>

        <td>
          <% if tutorial.terminal %>
            <%= image_tag "terminal-success.jpg", width: '30' %>
          <% end %>
        </td>
        <td><%= tutorial.terminal_image_updated_at.try(:strftime,'%m.%d %H:%M') %></td>

        <td>
          <% if tutorial.html_css %>
            <%= image_tag "htmlcss-success.jpg", width: '30' %>
          <% end %>
        </td>
        <td><%= tutorial.htmlcss_image_updated_at.try(:strftime,'%m.%d %H:%M') %></td>
      </tr>
    <% end %>
  </tbody>
</table>
