<p id="notice"><%= notice %></p>

<h3><%= link_to 'Edit', edit_user_path(@user) %> | <%= link_to 'Delete', @user, method: :delete, data: { confirm: 'You sure?' } %> |
<%= link_to 'Back', users_path %></h3>

<h2 style="font-size:250%"><%= @user.first_name %>
  <%= @user.last_name %> &nbsp; | &nbsp; <%= @user.email %></h3>

<hr style="background-color: #fff; border-top: 1px dashed #8c8b8b;"/>

<p><strong>Id: </strong><%= @user.id %></p>

<% if current_member %>
  <p><strong>Username </strong><%= current_member.username %>!</p>
  <p><strong>Password </strong><%= current_member.email %>!</p>
<% end %>

<p><strong>Phone: </strong><%= @user.phone %></p>

<p><strong>Zip: </strong><%= @user.zip_code %></p>

<p><strong>Twitter: </strong><%= @user.twitter_handle %></p>

<p><strong>Github: </strong><%= @user.github_user_name %></p>

<p><strong>Over 21 ?: </strong><%= @user.over_21 %></p>

<p><strong>Age: </strong><%= @user.age %></p>

<p><strong>OS: </strong><%= @user.operating_system %></p>

<p><strong>Workshop: </strong><%= @user.workshop %></p>

<p><strong>Rating: </strong><%= @user.rating %></p>

<p><strong>Coach: </strong><%= @user.coach %></p>

<p><strong>Pair: </strong><%= @user.pair %></p>

<p><strong>Accepted: </strong><%= @user.accepted %></p>

<p><strong>Attended: </strong><%= @user.attended %></p>

<p><strong>Phase five coach: </strong><%= @user.phase_five_coach %></p>

<%#= render 'users/answers' %>
