<p id="notice"><%= notice %></p>

<h3><%= link_to 'Edit', edit_user_path(@user) %> | <%= link_to 'Delete', @user, method: :delete, data: { confirm: 'You sure?' } %> |
<%= link_to 'Back', users_path %></h3>

<h2 style="font-size:250%"><%= @user.first_name %>
  <%= @user.last_name %> &nbsp; | &nbsp; <%= @user.email %></h3>

<hr style="background-color: #fff; border-top: 1px dashed #8c8b8b;"/>

<p><strong>Id: </strong><%= @user.id %></p>

<% if current_member %>
  <p><strong>Username </strong><%= current_member.username %>!</p>
  <p><strong>Password </strong><%= current_member.email %>!</p>
<% end %>

<p><strong>Phone: </strong><%= @user.phone %> | <strong>Zip: </strong><%= @user.zip_code %></p>

<p><strong>Twitter: </strong><%= @user.twitter_handle %> | <strong>Github: </strong><%= @user.github_user_name %></p>

<p><strong>Over 21 ?: </strong><%= @user.over_21 %> | <strong>Age: </strong><%= @user.age %></p>

<p><strong>OS: </strong><%= @user.operating_system %></p>

<hr/>
<div class="questions">
  <p id="notice"><%= notice %></p>
  <h2><strong>Name: <%= @user.first_name %> <%= @user.last_name %></strong></h2>

  <h2>Id: <%= @question.user_id %></h2>

  <p>
    Red: Yes / Green: No
    <br/>
    Attended Bootcamp:
    <% if @question.bootcamp %>
      <%= image_tag("red.png") %>
    <% else %>
     <%= image_tag("green.png") %>
    <% end %>

    Studying CS:</strong>
    <% if @question.compsci %>
      <%= image_tag("red.png") %>
    <% else %>
     <%= image_tag("green.png") %>
    <% end %>

    Attended RailsGirls or Railsbridge:
    <% if @question.rlsgrl_rlsbrg %>
      <%= image_tag("red.png") %>
    <% else %>
     <%= image_tag("green.png") %>
    <% end %>
  </p>
<hr/>
  <p>
    Newbie?:
    <% if @question.newbie %>
      <%= image_tag("red.png") %>
    <% else %>
     <%= image_tag("green.png") %>
    <% end %>
  </p>

  <p>
    HTML/CSS?:
    <%= @question.html_css %>
    <% if @question.html_css %>
      <%= image_tag("red.png") %>
    <% else %>
     <%= image_tag("green.png") %>
    <% end %>
  </p>

  <p>
    Tutorials:
    <% if @question.tutorials %>
      <%= image_tag("red.png") %>
    <% else %>
     <%= image_tag("green.png") %>
    <% end %>
  </p>

  <p>
    <Study Group?:
    <% if @question.study_group %>
      <%= image_tag("red.png") %>
    <% else %>
     <%= image_tag("green.png") %>
    <% end %>
  </p>

  <p>
    Written a program?:
    <% if @question.program %>
      <%= image_tag("red.png") %>
    <% else %>
     <%= image_tag("green.png") %>
    <% end %>
  </p>

  <p>
    Website?:
    <% if @question.website %>
      <%= image_tag("red.png") %>
    <% else %>
     <%= image_tag("green.png") %>
    <% end %>
  </p>
<hr/>
  <p>
    Work in tech?:
    <% if @question.work %>
      <%= image_tag("red.png") %>
    <% else %>
     <%= image_tag("green.png") %>
    <% end %>
  </p>


<hr/>
  <p>
    <strong>Will continue?:</strong>
    <%= @question.continue %>
  </p>

  <p>
    <strong>Support?:</strong>
    <%= @question.support %>
  </p>

  <p>
    <strong>Previous Experience:</strong>
    <%= @question.support %>
  </p>

  <%= link_to 'Edit', edit_question_path(@question) %> |
  <%= link_to 'Back', questions_path %>
</div>
<hr/>

<p><strong>Workshop: </strong><%= @user.workshop %></p>

<p><strong>Rating: </strong><%= @user.rating %></p>

<p><strong>Coach: </strong><%= @user.coach %></p>

<p><strong>Pair: </strong><%= @user.pair %></p>

<p><strong>Accepted: </strong><%= @user.accepted %></p>

<p><strong>Attended: </strong><%= @user.attended %></p>

<p><strong>Phase five coach: </strong><%= @user.phase_five_coach %></p>

<%#= render 'users/answers' %>
