<p id="notice"><%= notice %></p>
<% if current_member %>
  <h2>Hi <%= @user.first_name %> Your ID is: <%= @user.id %></h2>
  <h4><%= @user.email %></h4>
    <h3>Your user page is:<br/>
     <a href="https://railsgirls-signup.herokuapp.com/users/<%= @user.id %>">https://railsgirls-signup.herokuapp.com/users/<%= @user.id %></a></h3>

  <h3>Finish the rest of your tutorials if you haven't completed them yet. :)</h3>
  <h3>Your tutorial link is:<br/>
  <a href="https://railsgirls-signup.herokuapp.com/users/<%= @user.id %>/tutorials/<%= @user.id %>">https://railsgirls-signup.herokuapp.com/users/<%= @user.id %>/tutorials/<%= @user.id %></a></h3>

  <hr/>
    <h3>Your Completed Tutorials:</h3>
    <% if @tutorial.try_ruby %>
      <%= image_tag "tryruby-success.png", width: '75' %>
    <% end %>
    <% if @tutorial.try_git %>
      <%= image_tag "trygit-success.jpg", width: '75' %>
    <% end %>
      <% if @tutorial.terminal %>
      <%= image_tag "terminal-success.jpg", width: '75' %>
    <% end %>
    <% if @tutorial.html_css %>
      <%= image_tag "htmlcss-success.jpg", width: '75' %>
    <% end %>
  <hr/>

<% else %>
<h3><strong>Id: </strong><%= @user.id %> | <%= link_to 'Edit', edit_user_path(@user) %> | <%= link_to 'Delete', @user, method: :delete, data: { confirm: 'You sure?' } %> |
<%= link_to 'Back', users_path %></h3>

<h2 style="font-size:250%"><%= @user.first_name %>
  <%= @user.last_name %> &nbsp; | &nbsp; <%= @user.email %></h3>

<hr style="background-color: #fff; border-top: 1px dashed #8c8b8b;"/>

<% if current_member %>
  <p><strong>Username </strong><%= current_member.username %>!</p>
  <p><strong>Password </strong><%= current_member.email %>!</p>
<% end %>

<p>
  <strong>OS: </strong><%= @user.operating_system %> | <% if !@user.over_21 %>
    <strong>Age: </strong><%= @user.age %>
  <% else %>
    Over 21
  <% end %> | <strong>Phone: </strong><%= @user.phone %> | <strong>Zip: </strong><%= @user.zip_code %>
</p>

<p><strong>Twitter: </strong><a href="<%= @user.twitter_handle %>"><%= @user.twitter_handle %></a> | <strong>Github: </strong><a href="<%= @user.github_user_name %>"><%= @user.github_user_name %></a></p>

<hr/>
<h3><strong>Tutorials</strong></h3>
  <% if @tutorial.try_ruby %>
    <%= image_tag "tryruby-success.png", width: '75' %>
  <% end %>
  <% if @tutorial.try_git %>
    <%= image_tag "trygit-success.jpg", width: '75' %>
  <% end %>
    <% if @tutorial.terminal %>
    <%= image_tag "terminal-success.jpg", width: '75' %>
  <% end %>
  <% if @tutorial.html_css %>
    <%= image_tag "htmlcss-success.jpg", width: '75' %>
  <% end %>
<hr/>

<div class="questions">
  <h3><strong>Questions</strong> - Green: Yes / Red: No</h3>
  <p>
    <% if @question.bootcamp %>
      <%= image_tag("green.png") %>
    <% else %>
     <%= image_tag("red.png") %>
    <% end %> Attended Bootcamp
  <br/>
    <% if @question.compsci %>
      <%= image_tag("green.png") %>
    <% else %>
     <%= image_tag("red.png") %>
    <% end %> Studying CS
  <br/>
    <% if @question.rlsgrl_rlsbrg %>
      <%= image_tag("green.png") %>
    <% else %>
     <%= image_tag("red.png") %>
    <% end %> Attended RailsGirls or Railsbridge
  <br/>
    <% if @question.work %>
      <%= image_tag("green.png") %>
    <% else %>
     <%= image_tag("red.png") %>
    <% end %> Work in tech
  </p>
<hr/>
  <p>
    <% if @question.newbie %>
      <%= image_tag("green.png") %>
    <% else %>
     <%= image_tag("red.png") %>
    <% end %> Newbie
  <br/>
    <% if @question.html_css %>
      <%= image_tag("green.png") %>
    <% else %>
     <%= image_tag("red.png") %>
    <% end %> HTML/CSS
  <br/>
    <% if @question.tutorials %>
      <%= image_tag("green.png") %>
    <% else %>
     <%= image_tag("red.png") %>
    <% end %> Tutorials
  <br/>
    <% if @question.study_group %>
      <%= image_tag("green.png") %>
    <% else %>
     <%= image_tag("red.png") %>
    <% end %> Study Group
  <br/>
    <% if @question.program %>
      <%= image_tag("green.png") %>
    <% else %>
     <%= image_tag("red.png") %>
    <% end %> Written a program
  <br/>
    <% if @question.website %>
      <%= image_tag("green.png") %>
    <% else %>
     <%= image_tag("red.png") %>
    <% end %> Website
  </p>
<hr/>

  <p>
    <strong><i>Will continue?</i></strong><br/><%= @question.continue %>
  </p>

  <p>
    <strong><i>Has support?</i></strong><br/><%= @question.support %>
  </p>

  <p>
    <strong><i>Previous Experience?</i></strong><br/><%= @question.support %>
  </p>
</div>

<hr/>

<p><strong>Workshop: </strong><%= @user.workshop %></p>

<p><strong>Rating: </strong><%= @user.rating %></p>

<p><strong>Coach: </strong><%= @user.coach %></p>

<p><strong>Pair: </strong><%= @user.pair %></p>

<p><strong>Accepted: </strong><%= @user.accepted %></p>

<p><strong>Cancelled: </strong><%= @user.cancelled %></p>

<p><strong>Attended: </strong><%= @user.attended %></p>

<p><strong>Phase five coach: </strong><%= @user.phase_five_coach %></p>
<% end %>
