<div style="background-color:#ccc09e; padding:10px">
  <%= simple_form_for [@user, @tutorial], html: {multipart: true} do |f| %>

    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.file_field :tryruby_image, label: "Try Ruby" %>
      <%= cl_image_tag("#{@tutorial.trygit_image_id}.jpg") %>
      <%= f.file_field :terminal_image, label: "Terminal" %>
      <%= f.file_field :trygit_image, label: "Try Git" %>
      <%= f.file_field :htmlcss_image, label: "HTML & CSS" %>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>
</div>
