<p id="notice"><%= notice %></p>

<h1>Tutorials</h1>

<table>
  <thead>
    <tr>
      <th>Try ruby</th>
      <th>Terminal</th>
      <th>Try git</th>
      <th>Html css</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tutorials.each do |tutorial| %>
      <tr>
        <td><%= tutorial.user %></td>
        <td><%= image_tag @tutorial.tryruby_image.url(:thumb) %></td>
        <td><%= image_tag @tutorial.terminal_image.url(:thumb) %></td>
        <td><%= image_tag @tutorial.trygit_image.url(:thumb) %></td>
        <td><%= image_tag @tutorial.htmlcss_image.url(:thumb) %></td>
        <td><%= link_to 'Show', tutorial %></td>
        <td><%= link_to 'Edit', edit_tutorial_path(tutorial) %></td>
        <td><%= link_to 'Destroy', tutorial, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tutorial', new_tutorial_path %>
