<div class="jumbotron">
<% if @user.accepted %>
<h2><b><%= image_tag("heart.png", size: "50x50") %>Congratulations, <%= @user.first_name.capitalize %></b>,</h2>
<h3><strong>You have passed the Second Level of acceptance
and are an Official Rails Girl!</strong> :)</h3>
  

<p><strong><%= image_tag("rg-losangeles.png", size: "150x150"; float: left;) %>The full schedule for the weekend is posted here: <a href="http://railsgirls.com/la#schedule">http://railsgirls.com/la#schedule</a></strong><br/>
Friday, October 21st 7pm - 10pm for the install-fest.<br/>
Saturday, October 22nd 9am-6pm for the Workshop.</p>

<hr/>
<p>If for any reason you need to cancel please contact us at railsgirlsla@gmail.com We have a limited number of people we can accept so please don't take a spot someone else would love to have. :)</p>
<hr/>
<h2><strong>The Third Level</strong></h2>

<h3>The Install-fest on Friday October  21st 7pm - 10pm</h3>

<p>If you feel like trying to install Rails, et cetera, before the install-fest you can try it out but <strong>you still have to come to the install-fest to get it all checked</strong>. It really holds up the whole group and makes it hard on the coaches if you don’t come to the install-fest even if you think you are completely ready.</p>

<h3><strong>What follows below is not the entire process.</strong><h3>
<p><a href="http://guides.railsgirls.com/install/">http://guides.railsgirls.com/install/</a></p>

<p>Windows users, it can be a huge pain in the butt.
Don't worry, we will help you at install-fest.</strong></p>

<p>Again, If you are successful installing that does not mean you can skip the Friday night install-fest but it probably means it will be a shorter process for you to get checked in. :)</p>

<h3><strong>Here are a few other things you will need:</strong></h3>
<h3>Get a Text Editor</h3>
<p>A text editor is what you will use to write your code. These are some of your options. Sublime is probably your best option to get started. It's Free too.
(A real text editor won't add any extra code to what you write, like if you used a Word.doc. Read this to learn about text editors.)</p>
  
<p>Some choices of Text Editors: </p>
<ul>
  <li>Sublime</li>
  <li>Komodo Edit</li>
  <li>Gedit</li>
  <li>Vim</li>
  <li>Notepad++</li>
  <li>Emacs</li>
</ul>

<h3>Install Git  http://git-scm.com/book</h3>
<p>Git is your local version control. This means it saves a copy of what you have done so if you make a mistake you can go back.</p>
 
<h3>Create a Github Account</h3>
<p>GitHub is your remote version control. This means it saves a copy of what you have done in the cloud so if you make a mistake you can go back or if your computer blows up you will still have a copy of your work. Plus this is the way developers share code.</p>

<h3>Create a Heroku Account</h3>
<p>Heroku is where you will serve your website from so you can view it on the web.</p>
 
<p>P.S. - Don't forget your usernames & passwords :)
and be sure to add a photo to your GitHub profile.</p>

<hr/>

<h2><strong>The Fourth Level</strong></h2>
<h3>The Workshop on Saturday October 22nd</h3>

<hr/>

<h2><strong>The Fifth Level</strong></h2>
<h3>Coach at the next event. :)</h3>

<hr/>

<% else %>
  <h2><b>Level 2 - Four Tutorials</b></h2>
  <h3><b><%= @user.first_name.capitalize %></b>, you have passed the first level of acceptance
to become an official Rails Girl :)</h3>

<h3>Your user page is:<br/>
  <a href="https://railsgirls-signup.herokuapp.com/users/<%= @user.id %>">https://railsgirls-signup.herokuapp.com/users/<%= @user.id %></a></h3>
<h3>Your tutorial link is:<br/>
<a href="https://railsgirls-signup.herokuapp.com/users/<%= @user.id %>/tutorials/<%= @user.id %>">https://railsgirls-signup.herokuapp.com/users/<%= @user.id %>/tutorials/<%= @user.id %></a></h3>

<h2>The Second Level, if you choose to accept</h2>
<p>is to complete the 4 tutorials below that will help you
get the most out of the Rails Girls workshop and determine your acceptance.
</p>

<p style= "font-size:15px">Contact railsgirlsla@gmail.com with any further questions.</b></p>
<p class='psmall'>This site is a WIP (work in progress so please heed the important warnings below.)</p>
<h4><span style="text-decoration: underline">IMPORTANT</span> - Save your username and password, they may not be recoverable right now. - You will have to be signed in to upload the tutorials. :)</h4>

<h4><span style="text-decoration: underline">IMPORTANT</span> - Save this URL of this page so you can return to this page and upload more screenshots of your finished tutorials because there is no link to it right now.

<br><a href="https://railsgirls-signup.herokuapp.com/users/<%= @user.id %>/tutorials/<%= @tutorial.user_id %>"><strong>https://railsgirls-signup.herokuapp.com/users/<%= @user.id %>/tutorials/<%= @tutorial.user_id %></strong></a></h4>

<h4>- If it says your name here, <b><%= @user.first_name.capitalize %>,</b> you are signed in and your user id is: <%= @user.id %>.</h4>
<h4>- If you make a text file of a tutorial, take a screenshot of that and upload the screenshot.</h4>
<h4>- Be sure to refresh and/or restart the site from time to time because like I mentioned the site is a work in progress and I am making updates to it daily. :)</h4>
<hr/>
<h2>Second Level</h2>
<p>These 4 tutorials will help you get the most out of the Rails Girls workshop and determine your acceptance.
</p>

<p>Upload them as you complete them.<br/>
Don't wait until they are all done.<br/>
Once they are completed you will
be contacted about your acceptance status.
</p>
<p>
Do the best you can. Have fun learning.<br/>
Even if you think you know this stuff,
you will learn something new.
</p>

<p>
If you have any questions or this seems like too much work or too hard
let us know. railsgirlsla@gmail.com
</p>

<p>
If this feels too basic for you then you should
consider coaching at Rails Girls.
There will be a coach training session.
</p>
<h3>Ready… Set… Go…</h3>
<hr/>

<div style="background-color:#ccc09e; padding:10px">

  <div style="background-color:#fff; padding:5px; margin 2px">
    <div style="background-color:#ccc09e; padding:10px">
      <p>
        <% if @tutorial.try_ruby %>
            <h3><%= image_tag("unlock.png") %> Sweet! You have passed the Fox Level.</h3>
            <%= image_tag("tryruby-success.png") %>
        <% else %>
          <%= image_tag("fox.gif") %>1. <a href="http://tryruby.org">Try Ruby</a>
          Type next to start.
          <h4>Upload a screenshot of the last page you complete.</h4>
          <p>This should be the last page of the tutorial. :)</p>
          <%= simple_form_for [@user, @tutorial], html: {multipart: true} do |f| %>
            <%= f.error_notification %>
            <div class="form-inputs">
              <%= f.file_field :tryruby_image, label: "Try Ruby" %>
            </div>
            <div class="form-actions">
              <%= f.button :submit, "Upload" %>
            </div>
          <% end -%>

          <% if @tutorial.missing_image?(@tutorial.tryruby_image).nil? %>
            <%= image_tag @tutorial.tryruby_image.url(:medium,) %>
          <% end %>
        <% end %>
      </p>
    </div>
  </div>

  <div style="background-color:#fff; padding:5px; margin 2px">
    <div style="background-color:#ccc09e; padding:10px">
      <p>
        <% if @tutorial.try_git %>
          <h3><%= image_tag("unlock.png") %> Awesome! You have passed the Octocat Level.</h3>
          <%= image_tag("trygit-success.jpg") %>
        <% else %>
          <%= image_tag "octocat.png" %> 2. <a href="https://try.github.io/levels/1/challenges/1">Try Git</a> 
          Write down all the git commands you learned.
          <h4>Upload a list of all the commands you learned. You can use this as a cheat sheet during the workshop.</h4>
          <%= simple_form_for [@user, @tutorial], html: {multipart: true} do |f| %>
            <%= f.error_notification %>
            <div class="form-inputs">
              <%= f.file_field :trygit_image, label: "Try Ruby" %>
            </div>
            <div class="form-actions">
              <%= f.button :submit, "Upload" %>
            </div>
          <% end -%>

          <% if @tutorial.missing_image?(@tutorial.trygit_image).nil? %>
            <%= image_tag @tutorial.trygit_image.url(:medium,) %>
          <% end %>
        <% end %>
      </p>
    </div>
  </div>

  <div style="background-color:#fff; padding:5px; margin 2px">
    <div style="background-color:#ccc09e; padding:10px">
      <p>
        <% if @tutorial.terminal %>
          <h3><%= image_tag("unlock.png") %> Hooray! You have passed the CloverLevel.</h3>
          <%= image_tag("terminal-success.jpg") %>
        <% else %>
          <%= image_tag("clover.gif") %> 3. <a href="https://speakerdeck.com/jendiamond/the-terminal-know-your-command-line-an-introduction">The Terminal slide show</a>
          
          Write down all the commands you learned. Even if you are not quite sure how to use them. The goal is to start getting familiar with hearing the words and have a basic understanding of what they do.<br/><br/>
          If you are on Windows these commands are a bit different. Find out what the equivalent commands are.
          <h4>Upload a list of all the commands you learned and a brief description of what they do.</h4>
          <%= simple_form_for [@user, @tutorial], html: {multipart: true} do |f| %>
            <%= f.error_notification %>
            <div class="form-inputs">
              <%= f.file_field :terminal_image, label: "Try Ruby" %>
            </div>
            <div class="form-actions">
              <%= f.button :submit, "Upload" %>
            </div>
          <% end -%>

          <% if @tutorial.missing_image?(@tutorial.terminal_image).nil? %>
            <%= image_tag @tutorial.terminal_image.url(:medium,) %>
          <% end %>
        <% end %>
      </p>
    </div>
  </div>

  <div style="background-color:#fff; padding:5px; margin 2px">
    <div style="background-color:#ccc09e; padding:10px">
      <p>
        <% if @tutorial.html_css %>
            <h3><%= image_tag("unlock.png") %> Fantastic! You have passed the Serpent Level.</h3>
            <%= image_tag("htmlcss-success.jpg") %>
        <% else %>
          <%= image_tag("snake.png") %>4. <a href="https://dash.generalassemb.ly/">Learn to Make Awesome Websites</a> (Only the first one.)

          You have to sign up to go through the course but it is FREE beside the fact that you'll get spam from GA. You can unsubscribe once they start sending it.
          <h4>Upload a screenshot of the last page you complete.</h4>
          <%= simple_form_for [@user, @tutorial], html: {multipart: true} do |f| %>
            <%= f.error_notification %>
            <div class="form-inputs">
              <%= f.file_field :htmlcss_image, label: "Try Ruby" %>
            </div>
            <div class="form-actions">
              <%= f.button :submit, "Upload" %>
            </div>
          <% end -%>

          <% if @tutorial.missing_image?(@tutorial.htmlcss_image).nil? %>
            <%= image_tag @tutorial.htmlcss_image.url(:medium,) %>
          <% end %>
        <% end %>
      </p>
    </div>
  </div>
</div>

<% end %>

<hr/>

  </div>
  <%#= link_to 'Your Page', user_tutorials_path(@user) %>
</div>
