<%= simple_form_for(@coach) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :first_name, required: true %>
    <%= f.input :last_name, required: true %>
    <%= f.input :email, required: true %>
    <%= f.input :phone, required: false %>
    <%= f.input :days, collection: [ "Friday and Saturday", "Friday only", "Saturday only"],label: "I can commit to...", required: true, as: :radio_buttons %>
    <%= f.input :operating_system, collection: [ "Mac", "Linux", "Windows"], required: true, as: :radio_buttons %>
    <%= f.input :twitter, placeholder: "https://twitter.com/your-user-name", required: false %>
    <%= f.input :github, placeholder: "https://github.com/your-user-name", required: false %>
    <%= f.input :job, label: "Job Title, Company" %>

<!-- <p>Check box to indicate an answer of YES to the following questions:</p>
    <%= f.input :work_at_sponsoring_company,label: "I work at Spokeo?" %>
    <%= f.input :attended_as_student, label: "I attended Rails Girls as a student. (or Railsbridge)" %>
    <p>I coached RailsGirlsLA on:</p>
    <%= f.input :coach_april_13_pivotal, label: "April 2013 at Pivotal" %>
    <%= f.input :coach_march_14_invpasadena, label: "March 2014 at Innovate Pasadena" %>
    <%= f.input :coach_april_15_pivotal, label: "April 2015 at Pivotal" %>
    <%= f.input :coach_august_15_spokeo, label: "August 2015 at Spokeo" %>
    <%= f.input :coach_march_16_zest, label: "March 2016 at Zest Finance" %></p> -->


    <%= f.input :notes, label: "Anything you want to add or ask. :) List your past students if you can remember them." %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
