<p id="notice"><%= notice %></p>

<h2>
  <strong><%= @coach.first_name %> <%= @coach.last_name %></strong>
</h2>

<p>
  <strong>Students:</strong>
  <%= @coach.student1 %> | <%= @coach.student2 %>
</p>

<p>
  <%= @coach.email %> | <%= @coach.phone %>
</p>

<p>
  <strong>Twitter: </strong><%= @coach.twitter %> | <strong>Github: </strong>
  <%= @coach.github %>
</p>

<p>
  <strong>Job Title, Company:</strong>
  <%= @coach.job %>
</p>

<p>
  <% if @coach.attended_as_student %>
    <%= image_tag("green.png") %> Attended as student
  <% end %>
</p>

<p><strong>Coached at:</strong>
  <br/>
  <% if @coach.coached_april_13 %>
    <%= image_tag("green.png") %> Pivotal April 2013
  <% end %>
<br/>
  <% if @coach.coached_march_14 %>
    <%= image_tag("green.png") %> Innovate Pasadena March 2014
  <% end %>
<br/>
  <% if @coach.coached_april_15 %>
    <%= image_tag("green.png") %> Pivotal April 2015
  <% end %>
<br/>
  <% if @coach.coached_august_15 %>
    <%= image_tag("green.png") %> Spokeo August 2015
  <% end %>
<br/>
  <% if @coach.coached_march_16 %>
    <%= image_tag("green.png") %> Zest Finance March 2016
  <% end %>
</p>
<p>
  <strong>Notes:</strong>
  <%= @coach.notes %>
</p>

<%= link_to 'Edit', edit_coach_path(@coach) %> |
<%= link_to 'Back', coaches_path %>
