<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @coach.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @coach.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @coach.email %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @coach.twitter %>
</p>

<p>
  <strong>Github:</strong>
  <%= @coach.github %>
</p>

<p>
  <strong>Job:</strong>
  <%= @coach.job %>
</p>

<p>
  <strong>Student1:</strong>
  <%= @coach.student1 %>
</p>

<p>
  <strong>Student2:</strong>
  <%= @coach.student2 %>
</p>

<p>
  <strong>Attended as student:</strong>
  <%= @coach.attended_as_student %>
</p>

<p>
  <strong>Coached april 13:</strong>
  <%= @coach.coached_april_13 %>
</p>

<p>
  <strong>Coached march 14:</strong>
  <%= @coach.coached_march_14 %>
</p>

<p>
  <strong>Coached april 15:</strong>
  <%= @coach.coached_april_15 %>
</p>

<p>
  <strong>Coached august 15:</strong>
  <%= @coach.coached_august_15 %>
</p>

<p>
  <strong>Coached march 16:</strong>
  <%= @coach.coached_march_16 %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @coach.notes %>
</p>

<%= link_to 'Edit', edit_coach_path(@coach) %> |
<%= link_to 'Back', coaches_path %>
