<div class="navbar navbar-default navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#About">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand active">Rails Girls LA</a>
    </div>

    <div class="collapse navbar-collapse " id ="railsgirls">
        <ul class="nav navbar-nav">
          <li role="presentation"><%= link_to 'FAQ', static_pages_faq_path %></a></li>
          <li role="presentation"><%= link_to 'About', static_pages_about_path %></li>
          <li role="presentation"><%= link_to 'Apply', new_user_path %></li>
          <div class=" nav navbar-nav pull-right user-info">
            <% if current_member %>
              <li role="presentation">Hello <%= current_member.email %>!</li>
              <li><%= link_to "Sign out", destroy_member_session_path, method: :delete %></li>
            <% else %></li>
              <li role="presentation"><%= link_to "Sign In", new_member_session_path %></li>
              <li role="presentation"><%= link_to "Sign Up", new_member_registration_path %></li>
            <% end %>
        </div>
        </ul>
<!--         <form action="" class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="search">
          </div>
          <button type="text" class="btn btn-primary">Submit</button>
        </form> -->
    </div>

  </div>
</div>

//<!-- https://www.youtube.com/watch?v=-YQn166PfIE -->
