<!DOCTYPE html>
<html>
  <head>
    <title>Railsgirls Signup</title>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class="container">
      <div><%= render '/layouts/nav' %></div>
      <% if current_page?(coaches_path) || current_page?(users_path)%>
        <%= yield %>
      <% else %>
        <div class="jumbotron">
          <%= image_tag("rgla_transparent.png", :alt => "rgla_transparent") %>
          <%= yield %>
        </div>
      <% end %>
      </div>
      <div class="row"style="text-align:center">
        <div><%= render '/layouts/footer' %></div>
      </div>
    </div>
  </body>
</html>
