<!DOCTYPE html>
<html>
  <head>
    <title>Railsgirls Signup</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <div class="container">
      <div><%= render '/layouts/nav' %></div>
        <%= yield %>
      </div>
      <div class="row"style="text-align:center">
        <div><%= render '/layouts/footer' %></div>
      </div>
    </div>
  </body>
</html>
